In [1]:
import pandas as pd

In [12]:
fortune = pd.read_csv('D:/udemy/data-analysis-with-pandas/part_one/fortune1000.csv', index_col="Rank")
sectors = fortune.groupby("Sector")
fortune.head(10)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
6,UnitedHealth Group,Health Care,Health Care: Insurance and Managed Care,"Minnetonka, MN",157107,5813,200000
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
9,Ford Motor,Motor Vehicles & Parts,Motor Vehicles and Parts,"Dearborn, MI",149558,7373,199000
10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450

In [13]:
df = pd.DataFrame(columns=fortune.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [16]:
for sector, data in sectors:
    highest_revenue_company_in_group = data.nlargest(1, "Revenue")
    df = df.append(highest_revenue_company_in_group)

In [17]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
155,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114,413,38758
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
41,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702,1849,32300
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
109,McDonald’s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413,4529,420000
34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
126,Alcoa,Materials,Metals,"New York, NY",22534,-322,60000
53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
48,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
57,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [21]:
cities = fortune.groupby("Location")
df = pd.DataFrame(columns=fortune.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [22]:
for city, data in cities:
    highest_revenue_in_city = data.nlargest(1, "Revenue")
    df = df.append(highest_revenue_in_city)

In [23]:
df
# fortune["Sector"].value_counts().sort_index()
# sector.first()
# sector.last()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
138,Abbott Laboratories,Health Care,Medical Products and Equipment,"Abbott Park, IL",20661,4423,74000
169,Goodyear Tire & Rubber,Motor Vehicles & Parts,Motor Vehicles and Parts,"Akron, OH",16443,307,66000
288,Air Products & Chemicals,Chemicals,Chemicals,"Allentown, PA",9895,1278,19550
830,Benchmark Electronics,Technology,Semiconductors and Other Electronic Components,"Angleton, TX",2541,95,10500
374,Casey’s General Stores,Retailing,Specialty Retailers: Other,"Ankeny, IA",7052,181,22408
...,...,...,...,...,...,...,...
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
506,Hanover Insurance Group,Financials,Insurance: Property and Casualty (Stock),"Worcester, MA",5034,332,4800
764,Penn National Gaming,"Hotels, Resturants & Leisure","Hotels, Casinos, Resorts","Wyomissing, PA",2838,1,18204
773,Bon-Ton Stores,Retailing,General Merchandisers,"York, PA",2790,-57,24100
932,Herman Miller,Household Products,"Home Equipment, Furnishings","Zeeland, MI",2142,98,7510

In [7]:
sector.get_group("Technology")
sector.get_group("Energy")
fortune[fortune["Sector"] == "Energy"]

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
14,Chevron,Energy,Petroleum Refining,"San Ramon, CA",131118,4587,61500
30,Phillips 66,Energy,Petroleum Refining,"Houston, TX",87169,4227,14000
32,Valero Energy,Energy,Petroleum Refining,"San Antonio, TX",81824,3990,10103
42,Marathon Petroleum,Energy,Petroleum Refining,"Findlay, OH",64566,2852,45440
...,...,...,...,...,...,...,...
981,WPX Energy,Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
983,Adams Resources & Energy,Energy,Petroleum Refining,"Houston, TX",1944,-1,809
995,EP Energy,Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646

In [25]:
sector.max()
sector.min()
sector.sum()

                              Revenue  Profits  Employees
Sector
Aerospace & Defense            357940    28742     968057
Apparel                         95968     8236     346397
Business Services              272195    28227    1361050
Chemicals                      243897    22628     463651
Energy                        1517809   -73447    1188927
Engineering & Construction     153983     5304     406708
Financials                    2217159   260209    3359948
Food and Drug Stores           483769    16759    1395398
Food, Beverages & Tobacco      555967    51417    1211632
Health Care                   1614707   106114    2678289
Hotels, Resturants & Leisure   169546    20697    2484245
Household Products             234737    14428     646038
Industrials                    497581    20764    1545229
Materials                      259145     4428     638123
Media                          220764    24347     550314
Motor Vehicles & Parts         482540    25898    1082560
Retailing                     1465076    47830    6227629
Technology                    1377600   180473    3578949
Telecommunications             461834    48637     832468
Transportation                 408508    44169    1536793
Wholesalers                    444800     8233     525597

In [24]:
sector.agg({
    "Revenue":"sum",
    "Profits":"sum",
    "Employees":"sum"
})

                              Revenue  Profits  Employees
Sector
Aerospace & Defense            357940    28742     968057
Apparel                         95968     8236     346397
Business Services              272195    28227    1361050
Chemicals                      243897    22628     463651
Energy                        1517809   -73447    1188927
Engineering & Construction     153983     5304     406708
Financials                    2217159   260209    3359948
Food and Drug Stores           483769    16759    1395398
Food, Beverages & Tobacco      555967    51417    1211632
Health Care                   1614707   106114    2678289
Hotels, Resturants & Leisure   169546    20697    2484245
Household Products             234737    14428     646038
Industrials                    497581    20764    1545229
Materials                      259145     4428     638123
Media                          220764    24347     550314
Motor Vehicles & Parts         482540    25898    1082560
Retailing                     1465076    47830    6227629
Technology                    1377600   180473    3578949
Telecommunications             461834    48637     832468
Transportation                 408508    44169    1536793
Wholesalers                    444800     8233     525597

In [27]:
sector.agg({
    "Revenue":["size","sum","min"],
    "Profits":["size", "sum", "min"],
    "Employees": ["size", "sum","min"]
})

                             Revenue                Profits                 \
                                size      sum   min    size     sum    min
Sector
Aerospace & Defense               20   357940  1923      20   28742   -240
Apparel                           15    95968  2204      15    8236     82
Business Services                 51   272195  1910      51   28227  -1481
Chemicals                         30   243897  2084      30   22628   -816
Energy                           122  1517809  1898     122  -73447 -23119
Engineering & Construction        26   153983  1909      26    5304   -155
Financials                       139  2217159  1902     139  260209  -1194
Food and Drug Stores              15   483769  2151      15   16759    -62
Food, Beverages & Tobacco         43   555967  2066      43   51417   -253
Health Care                       75  1614707  1987      75  106114   -458
Hotels, Resturants & Leisure      25   169546  1896      25   20697  -1394
Household Products                28   234737  1914      28   14428  -1149
Industrials                       46   497581  1895      46   20764  -6126
Materials                         43   259145  1924      43    4428  -1642
Media                             25   220764  1921      25   24347   -881
Motor Vehicles & Parts            24   482540  1986      24   25898   -889
Retailing                         80  1465076  1999      80   47830  -1243
Technology                       102  1377600  1920     102  180473  -4359
Telecommunications                15   461834  2726      15   48637   -271
Transportation                    36   408508  1995      36   44169   -191
Wholesalers                       40   444800  1917      40    8233   -502

                             Employees
                                  size      sum   min
Sector
Aerospace & Defense                 20   968057  6955
Apparel                             15   346397  5978
Business Services                   51  1361050  2400
Chemicals                           30   463651  1979
Energy                             122  1188927   480
Engineering & Construction          26   406708  1036
Financials                         139  3359948   187
Food and Drug Stores                15  1395398  1616
Food, Beverages & Tobacco           43  1211632  1857
Health Care                         75  2678289  2924
Hotels, Resturants & Leisure        25  2484245  8500
Household Products                  28   646038  4406
Industrials                         46  1545229  4104
Materials                           43   638123    52
Media                               25   550314  2341
Motor Vehicles & Parts              24  1082560  2700
Retailing                           80  6227629  2155
Technology                         102  3578949  2285
Telecommunications                  15   832468  2700
Transportation                      36  1536793  1223
Wholesalers                         40   525597   500

In [31]:
sector.agg(["size", "sum", "min"])

                             Revenue                Profits                 \
                                size      sum   min    size     sum    min
Sector
Aerospace & Defense               20   357940  1923      20   28742   -240
Apparel                           15    95968  2204      15    8236     82
Business Services                 51   272195  1910      51   28227  -1481
Chemicals                         30   243897  2084      30   22628   -816
Energy                           122  1517809  1898     122  -73447 -23119
Engineering & Construction        26   153983  1909      26    5304   -155
Financials                       139  2217159  1902     139  260209  -1194
Food and Drug Stores              15   483769  2151      15   16759    -62
Food, Beverages & Tobacco         43   555967  2066      43   51417   -253
Health Care                       75  1614707  1987      75  106114   -458
Hotels, Resturants & Leisure      25   169546  1896      25   20697  -1394
Household Products                28   234737  1914      28   14428  -1149
Industrials                       46   497581  1895      46   20764  -6126
Materials                         43   259145  1924      43    4428  -1642
Media                             25   220764  1921      25   24347   -881
Motor Vehicles & Parts            24   482540  1986      24   25898   -889
Retailing                         80  1465076  1999      80   47830  -1243
Technology                       102  1377600  1920     102  180473  -4359
Telecommunications                15   461834  2726      15   48637   -271
Transportation                    36   408508  1995      36   44169   -191
Wholesalers                       40   444800  1917      40    8233   -502

                             Employees
                                  size      sum   min
Sector
Aerospace & Defense                 20   968057  6955
Apparel                             15   346397  5978
Business Services                   51  1361050  2400
Chemicals                           30   463651  1979
Energy                             122  1188927   480
Engineering & Construction          26   406708  1036
Financials                         139  3359948   187
Food and Drug Stores                15  1395398  1616
Food, Beverages & Tobacco           43  1211632  1857
Health Care                         75  2678289  2924
Hotels, Resturants & Leisure        25  2484245  8500
Household Products                  28   646038  4406
Industrials                         46  1545229  4104
Materials                           43   638123    52
Media                               25   550314  2341
Motor Vehicles & Parts              24  1082560  2700
Retailing                           80  6227629  2155
Technology                         102  3578949  2285
Telecommunications                  15   832468  2700
Transportation                      36  1536793  1223
Wholesalers                         40   525597   500

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz