Latihan Udemy

In [18]:
import pandas as pd

company = pd.read_csv('D:/udemy/data-analysis-with-pandas/part_one/employees.csv', parse_dates=['Start Date', 'Last Login Time'])
# company['Senior Management'] = company['Senior Management'].astype(bool)
# company['Gender'] = company['Gender'].astype('category')
# company.head(2)
team = company.Team == 'Finance'
gender = company.Gender == 'Male'
# orderby = company.sort_values(['Bonus %'], ascending=False)
filters = team & gender 
# & orderby


company[filters].sort_values(['Bonus %'], ascending=False).set_index('Bonus %')

,First Name,Gender,Start Date,Last Login Time,Salary,Senior Management,Team
Bonus %,,,,,,,
19.930,Robert,Male,2014-11-18,2021-08-09 05:00:00,85799,False,Finance
19.897,Philip,Male,1989-08-02,2021-08-09 11:21:00,129968,False,Finance
19.754,George,Male,1995-09-27,2021-08-09 17:04:00,36749,False,Finance
19.675,Phillip,Male,1984-01-31,2021-08-09 06:30:00,42392,False,Finance
19.387,NaN,Male,1989-10-20,2021-08-09 09:37:00,88086,NaN,Finance
19.334,Justin,Male,1986-05-22,2021-08-09 06:30:00,121508,True,Finance
18.855,Jerry,Male,1989-03-26,2021-08-09 04:15:00,140850,False,Finance
18.702,Jeremy,Male,1981-08-12,2021-08-09 00:05:00,46930,True,Finance
17.095,Edward,Male,1997-11-27,2021-08-09 01:00:00,58327,True,Finance
16.084,Carl,Male,2006-05-03,2021-08-09 17:55:00,130276,True,Finance
15.843,Albert,Male,2007-09-30,2021-08-09 17:34:00,102626,False,Finance
15.804,Joseph,Male,1985-05-23,2021-08-09 22:16:00,139570,True,Finance
14.330,Jose,Male,2004-10-30,2021-08-09 13:39:00,84834,True,Finance
13.266,Craig,Male,2005-11-01,2021-08-09 23:31:00,44857,False,Finance
11.625,Anthony,Male,2011-10-16,2021-08-09 08:35:00,112769,True,Finance
11.580,Carlos,Male,2007-09-19,2021-08-09 01:01:00,77327,True,Finance
11.058,Fred,Male,1989-03-03,2021-08-09 02:27:00,129712,False,Finance
10.985,Todd,Male,1984-02-02,2021-08-09 10:13:00,69989,True,Finance
10.736,NaN,Male,1986-10-24,2021-08-09 09:23:00,47176,NaN,Finance
10.411,Harry,Male,1985-02-10,2021-08-09 19:46:00,63046,False,Finance
10.200,Harry,Male,1982-11-19,2021-08-09 11:25:00,59277,False,Finance
9.494,Steven,Male,1995-03-01,2021-08-09 15:03:00,109095,False,Finance
9.340,Jerry,Male,2005-03-04,2021-08-09 13:00:00,138705,True,Finance
8.525,Gary,Male,1987-08-12,2021-08-09 00:04:00,89661,False,Finance
8.475,Timothy,Male,1991-08-25,2021-08-09 10:37:00,92587,False,Finance
8.400,Ralph,Male,2012-03-07,2021-08-09 02:25:00,81215,False,Finance
8.012,Brandon,Male,2006-03-27,2021-08-09 17:54:00,115711,True,Finance
7.869,Christopher,Male,1999-05-13,2021-08-09 10:48:00,68028,True,Finance
7.768,Billy,Male,1995-03-13,2021-08-09 12:05:00,120444,True,Finance
7.588,Kenneth,Male,2015-01-15,2021-08-09 14:41:00,69112,True,Finance
7.100,NaN,Male,2015-11-24,2021-08-09 03:11:00,145329,NaN,Finance
6.796,Bruce,Male,2009-11-28,2021-08-09 22:47:00,114796,False,Finance
6.539,Shawn,Male,2005-09-23,2021-08-09 02:55:00,148115,True,Finance
5.961,Walter,Male,1983-07-06,2021-08-09 23:54:00,127813,False,Finance
5.319,Samuel,Male,1991-12-19,2021-08-09 02:54:00,76076,True,Finance
3.067,Jason,Male,1999-10-17,2021-08-09 22:09:00,78417,False,Finance
1.876,Jeremy,Male,1991-05-19,2021-08-09 13:40:00,131513,True,Finance
1.841,Roy,Male,2006-08-06,2021-08-09 07:52:00,148225,False,Finance
1.432,Henry,Male,1986-05-12,2021-08-09 02:04:00,59943,False,Finance
1.268,Peter,Male,1992-11-24,2021-08-09 17:43:00,69297,False,Finance
1.148,Joe,Male,1980-01-19,2021-08-09 16:06:00,119667,True,Finance

In [7]:
import pandas as pd

pockemon = pd.read_csv('D:/udemy/data-analysis-with-pandas/part_one/pokemon.csv', usecols=['Pokemon'], squeeze=True)
pockemon.name="POCKet MONster"
pockemon.sort_values(ascending=True).tail(20)
# pockemon.sort_values(['Pokemon'], ascending=True).head()

193       Wooper
412     Wormadam
264      Wurmple
359       Wynaut
177         Xatu
715      Xerneas
561       Yamask
192        Yanma
468      Yanmega
716      Yveltal
334     Zangoose
144       Zapdos
522    Zebstrika
643       Zekrom
262    Zigzagoon
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: POCKet MONster, dtype: object

In [2]:
import pandas as pd
google = pd.read_csv('D:/udemy/data-analysis-with-pandas/part_one/google_stock_price.csv', squeeze=True)
google.head(6)

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
5    53.90
Name: Stock Price, dtype: float64

In [3]:
def checkNumber(number):
    if(number < 300):
        return "OK"
    elif (number >= 300 and number <=650) :
        return "MANTAP"
    else:
        return "AMAZING"

In [10]:
# google.apply(checkNumber).head(10)
google.apply(lambda stock_price: stock_price + 1);